asgiref
certifi
dj-database-url
django
gunicorn
idna
openpyxl
paydunya
Pillow
psycopg2
pytz
requests
requests-oauthlib
spotipy
SQLAlchemy
sqlparse
pandas
stripe
toml
urllib3
whitenoise
opencv-python
opencv-python-headless