{% load static %}
        <!-- header begin -->
        <header class="transparent">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex sm-pt10">
                            <div class="de-flex-col">
                                <div class="de-flex-col">
                                    <!-- logo begin -->
                                    <div id="logo">
                                        <a href="index.html">
                                            <img alt="" src="images/logo.png" />
                                        </a>
                                    </div>
                                    <!-- logo close -->
                                </div>
                                <div class="de-flex-col">
                                </div>
                            </div>
                            <div class="de-flex-col header-col-mid">
                                <!-- mainmenu begin -->
                                <ul id="mainmenu">
                                    <li><a href="{% url "home" %}">Acceuil</a>
                                        {% comment %} <ul>
                                            <li><a href="index.html">Rockfest</a></li>
                                            <li><a href="02_djfest-index.html">DJFest</a></li>
                                            <li><a href="03_electrofest-index.html">Electrofest</a></li>
                                            <li><a href="01_rockfest-index-video.html">Rockfest Video</a></li>
                                        </ul> {% endcomment %}
                                    </li>                                   
                                    <li><a href="#section-artists">Discographie</a></li>                  
                                    <li><a href="#section-schedule">Vidéos</a></li>             
                                    <li><a href="#section-tickets">Boutique</a></li>
                                    <li><a href="#section-gallery">Concerts et tournées</a></li>
                                    <li><a href="#">Galerie</a>
                                        {% comment %} <ul>
                                            <li><a href="01_rockfest-blog.html">Blog</a></li>
                                            <li><a href="01_rockfest-contact.html">Contact</a></li>
                                            <li><a href="01_rockfest-gallery.html">Gallery</a></li>
                                        </ul> {% endcomment %}
                                    </li>
                                    <li><a href="#">Contact</a>
                                        {% comment %} <ul>
                                            <li><a href="icons-elegant.html">Icons Elegant</a></li>
                                            <li><a href="icons-etline.html">Icons Etline</a></li>
                                            <li><a href="icons-font-awesome.html">Icons Font Awesome</a></li>
                                            <li><a href="popover.html">Popover</a></li>
                                            <li><a href="tabs.html">Tabs</a></li>
                                            <li><a href="tooltips.html">Tooltips</a></li>
                                        </ul> {% endcomment %}
                                    </li>
                                </ul>
                            </div>
                            <div class="de-flex-col">
                                <div class="menu_side_area">
                                    {% comment %} <a href="#section-tickets" class="btn-main"><i class="fa fa-sign-in"></i><span>Buy Ticket</span></a> {% endcomment %}
                                    {% comment %} <span id="menu-btn"></span> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header close -->


